@page "/benchmark"
@rendermode InteractiveServer
@inject HttpClient Http
@using System.Text.Json

<b>
    jota steam ID : 76561199127317252<br />
    rigos steam ID : 76561199156551631
</b>
<div class="search-container">
    <input class="steam-input" @bind="steamId" placeholder="Enter your SteamID." />
    <button class="fetch-button" @onclick="FetchScores">Show Score</button>
</div>

@if (result != null)
{
    <!--
        <p>Overall Rank: @result.OverallRank</p>
        <p>Benchmark Progress: @result.BenchmarkProgress</p>
    -->

    @foreach (var category in result.Categories)
    {
        <h4 class="category-title">@category.Key</h4>
        <table class="scenario-table">
            <thead>
                <tr>
                    <th>シナリオ名</th>
                    <th>スコア</th>
                    <th>リーダーボードランク</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var scenario in category.Value.Scenarios)
                {
                    <tr>
                        <td>@scenario.Key</td>
                        <td class="score">@scenario.Value.FormattedScore</td>
                        <td class="rank">@(scenario.Value.LeaderboardRank?.ToString() ?? "-")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    private BenchmarkResponse? result;
    private string steamId = string.Empty;
    

    private async Task FetchScores()
    {
        var json = await Http.GetStringAsync($"https://kovaaks.com/webapp-backend/benchmarks/player-progress-rank-benchmark?benchmarkId=711&steamId={steamId}");
        result = JsonSerializer.Deserialize<BenchmarkResponse>(json);
        //Console.WriteLine(json);
    }
}